<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>Klienci</title>
</head>
<body>
<main role="main" layout:fragment="container" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Lista klientów</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Imie</th>
            <th scope="col">Nazwisko</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="customer : ${customers}">
            <th scope="row" th:text="${customer.customerID}"></th>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.surname}"></td>
            <td><a th:href="@{'/customer/details/'+${customer.customerID}+''}">Szczegóły</a></td>
            <td><a th:href="@{'/customer/edit/'+${customer.customerID}+''}">Edytuj</a></td>
            <td><a onclick="return confirm('Are you sure?')" th:href="@{'/customer/delete/'+${customer.customerID}+''}">Usuń</a></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>