<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>Edycja samochodu</title>
</head>
<body>
<form layout:fragment="container" method="post" th:action="@{/car/save}" th:object="${car}">
    <h2>samochód</h2>
    <div class="form-group">
        <label for="formGroupExampleInput">Numer nadwozia</label>
        <input type="text" th:field="*{bodyNr}" class="form-control" id="formGroupExampleInput">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Rok produkcji(YYYY)</label>
        <input type="text" th:field="*{productionYear}" class="form-control" id="formGroupExampleInput2">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput3">Marka</label>
        <input type="text" th:field="*{mark}" class="form-control" id="formGroupExampleInput3">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput11">Model</label>
        <input type="text" th:field="*{model}" class="form-control" id="formGroupExampleInput11">
    </div>
    <div class="form-group">
    <label for="formGroupExampleInput4">Numer OC</label>
    <input type="text" th:field="*{ocNr}" class="form-control" id="formGroupExampleInput4">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput5">Rodzaj paliwa</label>
        <input type="text" th:field="*{fuelType}" class="form-control" id="formGroupExampleInput5">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput6">Przebieg</label>
        <input type="text" th:field="*{mileage}" class="form-control" id="formGroupExampleInput6">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput7">Silnik</label>
        <input type="text" th:field="*{engine}" class="form-control" id="formGroupExampleInput7">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput8">Moc</label>
        <input type="text" th:field="*{power}" class="form-control" id="formGroupExampleInput8">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput9">Rodzaj skrzyni biegów</label>
        <input type="text" th:field="*{gearbox}" class="form-control" id="formGroupExampleInput9">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput10">Opis</label>
        <textarea th:field="*{description}" class="form-control" id="formGroupExampleInput10" rows="3"></textarea>
    </div>
    <div class="form-group">

        <input type="submit" class="form-control" value="ZAPISZ">
    </div>

</form>
</body>
</html>