<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      layout:decorate="index">
<head>
    <meta charset="UTF-8">
    <title>samochody</title>
</head>
<body>
<main role="main" layout:fragment="container" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <br/>
           <h3><a th:href="@{'/car/list'}">Dostępne</a></h3> <br/>
           <h3><a th:href="@{'/car/soldlist'}">Sprzedane</a></h3><br/>
           <h3><a th:href="@{'/car/add'}">Sprzedaj Samochód</a></h3>
</main>
</body>
</html>